# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# GeoLite2 Databases
GeoLite2-ASN.mmdb
GeoLite2-City.mmdb

# Build artifacts
dist/
build/
*.egg-info/
map.html

# IDE specific
.idea/
.vscode/
